In [2]:
import pandas as pd
df = pd.read_csv('Attendance.csv')
df.head()

         Name      Time
0     SAUHARD  16:33:02
1  PRATHAMESH  16:33:11
2  PRATHAMESH  16:33:34
3     SAUHARD  16:33:41
4  PRATHAMESH  16:34:09

In [3]:
df.Name

0        SAUHARD
1     PRATHAMESH
2     PRATHAMESH
3        SAUHARD
4     PRATHAMESH
5        SAUHARD
6     PRATHAMESH
7     PRATHAMESH
8     PRATHAMESH
9     PRATHAMESH
10    PRATHAMESH
11    PRATHAMESH
12    PRATHAMESH
13       SAUHARD
14    PRATHAMESH
15    PRATHAMESH
16         ROHAN
17    PRATHAMESH
18       SAUHARD
19         ROHAN
20    PRATHAMESH
Name: Name, dtype: object

In [5]:
list(df.Name)
list(df.Time)

['16:33:02',
 '16:33:11',
 '16:33:34',
 '16:33:41',
 '16:34:09',
 '16:34:14',
 '16:35:55',
 '16:36:38',
 '16:40:04',
 '16:40:34',
 '16:41:52',
 '16:42:15',
 '16:46:18',
 '16:46:24',
 '16:47:53',
 '17:07:46',
 '17:07:48',
 '17:09:49',
 '17:09:57',
 '17:10:05',
 '17:11:13']